.menu {
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    line-height: 1;
    color: white;
}

.menu-destaque {
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    line-height: 1;
    color: white;
    font-weight: 500;
}

.mdl-layout__content {
    background-color: aliceblue;
}

.font-color {
    color: grey;
}

.font-color-destaque {
    color: #009688
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.mdl-card--horizontal {
    flex-direction: column;
    padding-left: 200px;
    width: 80%;
    background-color: white;
}

.mdl-card__media {
    left: 0;
    position: absolute;
    width: 200px;
}

.mdl-card__supporting-text {
    flex: 1 1 auto;
    width: auto;
}