.menu {
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    line-height: 1;
    color: white;
}

.menu-destaque {
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    line-height: 1;
    color: white;
    font-weight: 500;
}

.mdl-layout {
    background-color: aliceblue;
}

.font-color {
    color: grey;
}

.font-color-destaque {
    color: #009688
}

.mdl-link {
    font-size: 15px;
}

.mdl-card-homepage {
    width: 800px;
    height: 250px;
}